*{margin:0;padding: 0; box-sizing: border-box;}

.menu {
	background-color: #fff!important;
}

.menu-1 > li > a{
	font-weight: bold;
	margin-right: 1.5em;
	font-size: 18px;
}

.menu-2 > li > a {
	font-size: 14px;
	color: #555!important;
}

.footer {
	background-color: #000;
	color: rgba(256,256,256, .5);
	font-size: 14px;
	height: 35px;
}